.AboutCard {
    background-color: #F9FAFB;
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid #E3E3E3;
    border-radius: 70px;
    transition: 0.1s ease;
}

.AboutCard img{
    width: 100%;
    /* object-fit: cover; */
}

.AboutCard:hover{
    transition: 0.5s ease;
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    animation: bounce 1s cubic-bezier(0.280, 0.840, 0.420, 1) forwards;
}


/* Define the bounce animation */
@keyframes bounce {
  0% { transform: translateY(0); }
  20% { transform: translateY(-40px); }
  40% { transform: translateY(0); }
  60% { transform: translateY(-15px); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@media (max-width: 760px) {
    
}
