.featured-container{
  background-color: #fff; 
  padding: 2rem 2rem;
}

.featured-section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff; 
}

.featured-header {
  display: flex;
  justify-content: center;
  gap: 2rem; 
  margin-bottom: 3rem;
  font-size: 1.1rem;
  color: #888;
}

.tab {
  cursor: pointer;
  transition: color 0.2s;
}

/* .tab:hover, .tab.active {
  color: #111;
  font-weight: 600;
} */

.tab:hover{
  color: #111;
  font-weight: 600;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
  gap: 2rem; 
}