/* src/Hero.css */

.hero-section {
    background-color: #E8E7E7;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    padding: 0;
    overflow: hidden;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    gap: 2rem;
    padding: 0 0 0 2rem;
}


.hero-text {
    flex: 1;
    max-width: 600px;
}

.hero-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #1F2937;
    margin-bottom: 1rem;
    line-height: 1.1;
}

.hero-text p {
    font-size: 1.25rem;
    color: #4B5563;
    margin-bottom: 2rem;
}


.hero-image {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    max-width: none;

    -webkit-mask-image: linear-gradient(to right, transparent, black 20%);
    mask-image: linear-gradient(to right, transparent, black 20%);
}


@media (max-width: 900px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }

    .hero-text {
        padding: 0;
        max-width: 100%;
    }

    .hero-image {
        justify-content: right;
        width: 100%;
    }

    .hero-image img {
        max-width: 80%;
    }

    .hero-text h1 {
        padding-top: 2rem;
        font-size: 2.5rem;
    }
}