.top-section {
    background-color: #FFFFFF;
    width: 100%;
    padding: 40px 80px;
}

.top-container{
    background-color: #A2A2A2;
    height: 300px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}


.top-image{
    width: 55%;
    height: 100%;
    position: relative;
}


.top-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    display: block;
    -webkit-mask-image: linear-gradient(to right, black 97%, transparent 100%);
    mask-image: linear-gradient(to right, black 97%, transparent 100%);
}

.top-text{
    flex: 1;
    padding-right: 4rem;
    text-align: left;
    z-index: 2;
}

.top-text h1{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .top-section{
        padding: 20px;
    }

    .top-container{
        flex-direction: column;
        height: auto;
        text-align: center;
        padding-bottom: 2rem;
    }

    .top-image {
        width: 100%;
        height: 200px;
    }

    .top-image img {
        -webkit-mask-image: none;
        mask-image: none;
    }

    .top-text {
        padding: 1rem;
    }

    .top-text h1 {
        font-size: 1.5rem;
    }
}