.container {
    padding: 1rem;
    background-color: #FAFAFA;
    box-sizing: border-box;
}


.header{
    padding: 1rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}


.about-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 33px;
    flex-wrap: wrap;
}


.right-row{
    padding: 1rem 0 1rem;
}

.info, .vision{
    width: 100%;
    max-width: 800px;
    padding-bottom: 2rem;
    text-align: left;
}

p{
    color: #667185;
    line-height: 1.6;
}

@media  (max-width: 760px) {
    .about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .info, .vision {
        text-align: center; /* Usually looks better centered on mobile */
        padding-top: 0;
        padding-bottom: 2rem;
    }
    
}