.container {
    padding: 1rem;
    background-color: #FAFAFA;
}


.header{
    padding: 1rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 800px;
    text-align: center;
}


.about-container{
    display: flex;
    width: auto;
    gap: 40px;
    margin-top: 33px;
}


.right-row{
    
    padding: 1rem 0 1rem;
}

.info{
    width: 800px;
    padding-bottom: 2rem;
    text-align: left;
}

.vision{
    width: 800px;
    padding-top: 2rem;
    text-align: left;
}

p{
    color: #667185;
}

@media  (max-width: 760px) {
    .about-container{
        display: block;
        text-align: center;
    }
    .about-container > div {
        margin: 0 auto; /* Centers block-level children */
        margin-bottom: 2rem; /* Adds spacing since 'gap' won't work in block */
    }
    .top{
        width: 400px;
    }
    .info{
        width: 400px;
    }
    .vision{
        width: 400px;
    }
}